*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.card {
  display: grid;
  grid-template-columns: auto 1fr;

  border: solid black 3px;
  width: 80%;
}

.card__image {
  vertical-align: bottom;
  height: 400px;
}

.card__quote {
  justify-self: center;

  max-width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}
