.l-grid {
  display: grid;

  min-height: 100vh;

  background-color: var(--bg);
  overflow: hidden;

  &__card {
    align-self: center;
    justify-self: center;
  }

  &__settings-button {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
