@import url('./reset.css');

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --bg-dark:  #16161e;
  --bg:       #1a1b26;
  --bg-hl:    #292e42;
  --fg:       #c0caf5;
  --green:    #9ece6a;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background-color: var(--bg);
  overflow: hidden;
}

.card {
  display: grid;
  grid-template-columns: auto 1fr;

  border: solid var(--bg-dark) 3px;
  width: 80%;
  max-width: 1080px;
  min-width: 0;

  background-color: var(--bg-hl);
}

.card__image {
  vertical-align: bottom;
  height: 400px;
}

.card__quotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  padding: 30px 20px;
  height: 400px;
}

.card__text {
  text-align: center;

  font-size: 2rem;
  line-height: 1.2;
  color: var(--green);
}

.card__author {
  align-self: end;

  color: var(--fg);
}
