*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:where(body) {
  line-height: 1.5;
}

:where(img, picture, video, canvas, svg) {
  display: block;
}

:where(input, button, textarea, select) {
  font: inherit;
}
